<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{common/include :: include}">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<div th:insert="~{common/header :: header}"></div>
<div class="container-fluid">
    <div class="title text-center my-5">
        <span class="fs-1 mx-auto">PetApp</span>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
        <a href="/addpet" class="btn btn-primary">Add Pet</a>
        <a href="/searchpets" class="btn btn-primary">Search</a>
    </div>
</div>
<div th:insert="~{common/footer :: footer}"></div>
</body>
</html>